.mt20{
	margin-top: 20px;
}

/* 首页 */
.sy{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* 头部 */
.header{
	width: 100vw;
	height: 10vh;
	overflow: hidden;
	min-height: 68px;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0 8px 19px 0 rgba(0,0,0,0.07);
	position: relative;
	z-index: 9;
}

/* 侧边栏 */
.aside{
	width: 100vw;
	height: 90vh;
	background: lime;
	float: left;
}

/* 侧边栏-导航栏 */
.aside>.nav{
	height: 90vh;
	width: 20vw;
	background: #FFFFFF;
	float: left;
	position: relative;
	z-index: 1;
	overflow: auto;
}

/* 侧边栏-副导航栏 */
.aside>.article{
	height: 90vh;
	width: 25vw;
	background: #F6F8FD;
	float: left;
	overflow: auto;
}


/* 内容部分 */
.section{
	width:54.97vw;
	height: 90vh;
	float: left;
	overflow-y: auto;
	background: #FFFFFF;
}


/* 头部 */
.header h1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 140px;
	margin-left: 2.6vw;
	flex-basis: 10%;
	display: flex;
	justify-content: flex-start;
}
.header h1 img{
	height: 5vh;
	min-width: 140px;
	min-height: 35px;
}
.header .link{
	float: left;
	margin-left: 4vw;
	min-height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-start;
}
.header .link li{
	float: left;
	margin-right: 1px;
}
.header .link li img{
	margin-right: 4px;
	position: relative;
}
.header .link li a{
	font-size: 15px;
	color: #666;
}
.header .link li a:hover{
	color: #0169D9;
}
.header .hr{
	/*flex: 0 0 40%;*/
	display: flex;
	justify-content: flex-end;
}
.header .hr a{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header .hr a:hover{
	opacity: .6;
}
.header .hr .touxiang{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin-right: 2vw;
}
.header .hr .touxiang img{
	height: 5vh;
	min-height: 45px;
	min-width: 45px;
	margin-right: 10px;
}
.header .hr .touxiang>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header .hr .touxiang>div a{
	color: #333;
}
.header .hr .touxiang>div span{
	color: #ccc;
}


/* 导航条 */
.aside .nav ul.dh{
	display: flex;
	flex-direction: column;
	padding:1vh 1.8vw 0 2.5vw;
}
.aside .nav ul.dh li{
	height: 35px;
	line-height: 35px;
	padding-left: 30px;
	cursor: pointer;
	background: url(../img/aside_icon1.svg) no-repeat left center;
	background-size: 23px 23px;
	margin-top: 4px;
	border-radius: 7px;
	border: 1px solid white;
}
.aside .nav ul.dh li span{
	float: left;
	color: #333;
    text-align: left;
    width: 13.5vw;
}
.aside .nav ul.dh li i{
	float: right;
	color: #A8B1C6;
	width: 47px;
	height: 23px;
	text-align: center;
	border-radius: 11.5px;
	line-height: 23px;
	margin-top: 7px;
}
.aside .nav ul.dh li:nth-child(1){
	background: url(../img/aside_icon1.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:nth-child(2){
	background: url(../img/aside_icon2.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:nth-child(3){
	background: url(../img/aside_icon3.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:nth-child(4){
	background: url(../img/aside_icon4.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:nth-child(5){
	background: url(../img/aside_icon5.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:nth-child(6){
	background: url(../img/aside_icon6.svg) no-repeat left center;
	background-size: 23px 23px;
}
.aside ul.dh li:hover:nth-child(1){
	background-color:#DCEDFF;
	/*background: url(../img/aside_icon1_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	border:1px solid #50A4FF !important;
}
.aside .nav ul.dh li:hover:nth-child(2){
	background-color:#DCEDFF;
	/*background: url(../img/aside_icon2_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	border:1px solid #50A4FF !important;
}
.aside .nav ul.dh li:hover span{
	color: #046BDA;
}
.aside .nav ul.dh li:hover i{
	color: #5F768B;
	background: #DCEDFF;
}
.aside .nav ul.dh li:hover:nth-child(3){
	/*background: url(../img/aside_icon3_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	background-color:#DCEDFF;
	border:1px solid #50A4FF !important;
}
.aside .nav ul.dh li:hover:nth-child(4){
	/*background: url(../img/aside_icon4_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	background-color:#DCEDFF;
	border:1px solid #50A4FF !important;
}
.aside .nav ul.dh li:hover:nth-child(5){
	/*background: url(../img/aside_icon5_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	background-color:#DCEDFF;
	border:1px solid #50A4FF !important;
}
.aside .nav ul.dh li:hover:nth-child(6){
	/*background: url(../img/aside_icon6_s.svg) no-repeat left center;*/
	background-size: 23px 23px;
	background-color:#DCEDFF;
	border:1px solid #50A4FF !important;
}
.aside .nav h3{
	padding-left: 2vw;
	margin-top: 3vh;
	margin-bottom:0;
	color: #333;
	text-align: left;
}

.aside .nav ul.dhwjj{
	display: flex;
	flex-direction: column;
	padding: 0 1.8vw 0 2.5vw;
}
.aside .nav ul.dhwjj li{
	height: 35px;
	line-height: 35px;
	padding-left: 30px;
	cursor: pointer;
	background: url(../img/aside_icon1.svg) no-repeat left center;
	background-size: 23px 23px;
	margin-top: 4px;
	border-radius: 7px;
	border: 1px solid white;
}
.aside .nav ul.dhwjj li span{
	float: left;
	color: #333;
    text-align: left;
    width: 13.5vw;
}
.aside .nav ul.dhwjj li i{
    float: right;
    color: #A8B1C6;
    width: 47px;
    height: 23px;
    text-align: center;
    border-radius: 11.5px;
    line-height: 23px;
    margin-top: 7px;
}
.aside .nav ul.dhwjj li:nth-child(4n+1){
	background: url(../img/aside_wjj01.svg) no-repeat left 40%;
	background-size: 23px 23px;
}
.aside ul.dhwjj li:nth-child(4n+2){
	background: url(../img/aside_wjj02.svg) no-repeat left 40%;
	background-size: 23px 23px;
}
.aside ul.dhwjj li:nth-child(4n+3){
	background: url(../img/aside_wjj03.svg) no-repeat left 40%;
	background-size: 23px 23px;
}
.aside ul.dhwjj li:nth-child(4n){
	background: url(../img/aside_wjj04.svg) no-repeat left 40%;
	background-size: 23px 23px;
}
.aside .nav ul.dhwjj li:hover span{
	color: #046BDA;
	background-color:#DCEDFF;
}
.aside .nav ul.dhwjj li:hover i{
	color: #5F768B;
	background-color: #DCEDFF;
}
.aside .nav ul.dhwjj li:hover{
	color: #5F768B;
	background-color: #DCEDFF;
	border:1px solid #50A4FF !important;
}


/*  副导航栏  */
.aside .article{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    padding: 5vh 1.5vw 0 1.5vw;
}
.aside .article input.ss{
	display: block;
	width: 20vw;
	height: 40px;
	text-indent: 2em;
	background: rgba(255,255,255,0.7);
	border-radius: 28px;
}
.aside .article ul.list{
	margin-top: 3vh;
	width: 22vw;
}
.aside .article ul.list li{
	width: 22vw;
	height:6.5vh;
	border-radius:7px;
	padding:0.5vh 1vw 0.5vh 1vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 4px;
	/*background: rgba(255,255,255,0.8) url(../img/start.svg) no-repeat 90% center;*/
	cursor: pointer;
	margin: 0 auto;
	background-color: white;

}
.aside .article ul.list li img{
	margin-right: 5px;
	float: left;
	margin-top: 4px;
}
.aside .article ul.list li div{
	display: flex;
	flex-direction: column;
	float: left;
}
.aside .article ul.list li div h5{
	font-size: 14px;
	color: #333;
}
.aside .article ul.list li div span{
	font-size: 10px;
	color: #999;
}
.aside .article ul.list li:hover{
	/*background: #0169D9 url(../img/start_s.svg) no-repeat 90% center;*/
	color: #046BDA;
	border: 1px solid #409EFF;
	margin: 0 auto;
	background-color: #DCEDFF;
}
.aside .article ul.list li:hover div h5{
	color: #046BDA;
}
.aside .article ul.list li:hover div span{
	opacity: .5;
}




/* 内容部分 缺省页 */
/* .section.qsy{
	background: url(../img/qsy.png) no-repeat center center;
} */


/* 内容部分 登录信息模板 */
.section .mb{
	width: 330px;
	min-height: 200px;
	margin: 10vh auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section .mb h4{
	font-size: 18px;
	color: #333;
	text-align: center;
}
.section .mb .tx{
	margin: 40px 0;
}
.section .mb .col{
	display: block;
	width: 100%;
	height: 40px;
}
.section .mb .col.col2{
	height: 16px;
}
.section .mb .col.col3{
	height: 30px;
}
.section .mb .col.col3 .base3>label{
	display: block;
	float: left;
	line-height: 30px;
}
.section .mb .col.col3 .base3{
	height: 30px;
}
.section .mb .col.col3 .base7{
	height: 30px;
}
.section .mb .col.col3 .base7 .select{
	position: relative;
	top: 4px;
}
.section .mb .col .base3{
	display: block;
	float: left;
	width: 30%;
	height: 40px;
}
.section .mb .col .base5{
	width: 50%;
	display: block;
	float: left;
	height: 40px;
}
.section .mb .col .base5 input[type="button"]{
	width: 140px;
	height: 40px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #666;
	box-sizing: border-box;
}
.section .mb .col .base5 .baocun{
	background: #1989FA;
	color: #FFFFFF !important;
}
.section .mb .col .base5 .quxiao{
	background: #FFFFff;
	border: 1px solid #DCDFE6;
}
.section .mb .col .base7 .bianji{
	background: #FFFFff;
	border: 1px solid #DCDFE6;
	width: 140px;
	height: 40px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #666;
	box-sizing: border-box;
}
.section .mb .col .base3>label{
	display: block;
	float: left;
	line-height: 40px;
	color: #333;
}
.section .mb .col .base7>label.zs{
	display: block;
	float: left;
	line-height: 40px;
	color: #666;
}
.section .mb .col .base7{
	display: block;
	float: left;
	width: 70%;
	height: 40px;
}
/*.section .mb .col .base7>input[type="text"],input[type="password"]{*/
	/*width: 100%;*/
	/*height: 40px;*/
	/*border: 1px solid #DCDFE6;*/
	/*border-radius: 4px;*/
	/*-webkit-box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
	/*text-indent: 1.2em;*/
	/*float: left;*/
/*}*/
.section .mb .col .base7>input[type="checkbox"]{
	float: left;
	position: relative;
	top: 4px;
	margin-right: 4px;
}
.section .mb .col .base7>label{
	float: left;
}
.section .mb .col h5{
	font-size: 16px;
	color: #333;
}
.section .mb .col .base7>input[type="date"]{
	float: left;
	position: relative;
	top: 10px;
	border-radius: 4px;
}
.aside .jh{
	width: 40px;
	height: 40px;
	border-radius: 24px;
	background: #50A4FF;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 35px;
	position: absolute;
	bottom: 5%;
	right: 10%;
}
.article .jh1{
	width: 40px;
	height: 40px;
	border-radius: 24px;
	background: #50A4FF;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 35px;
	position: absolute;
	bottom: 5%;
	right:67%;
}
.click{
	border:1px solid #50A4FF !important;
	border-radius:3px;
	background-color:#DCEDFF  !important;
}


.el-dialog {
	border-radius: 10px;
}

.myInput {
	width:85%;
	border-radius:4px;
	border: 1px solid #C0C4CC;
	height: 4vh;
	float: left;
	margin-top: 2%;
}

.section .el-form--label-top .el-form-item__label {
	float: none;
	display: inline-block;
	text-align: left;
	padding: 0 0 0 0;
	line-height: 30px;
	font-weight:bold;
}

.section .el-form-item__content {
	line-height: 15px;
	position: relative;
	font-size: 14px;
}
.section input{
	width:90%;
	color: #606266;
	font-size: 13px;
}

.mb .el-form--label-top .el-form-item__label {
	float: none;
	display: inline-block;
	text-align: left;
	padding: 0 0 0 0;
	line-height: 30px;
	font-weight:bold;
}
.mb .el-form-item__content {
	position: relative;
	font-size: 14px;
}

/*图片*/
.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avatar-uploader .el-upload:hover {
	border-color: #409EFF;
}
.avatar-uploader-icon {
	font-size: 15px;
	color: #8c939d;
	width:2.5vw;
	height:2vh;
	line-height: 2vh;
	text-align: center;
	border: 1px solid black;
}
.avatar {
	width: 3vw;
	height: 6vh;
	display: block;
	border: 0;
	background:#999999;
}
.temlateSymbol{
	margin: 1% 1%;
	width: 40px;
	background:#999999;

}
.detail_icon{
	width: 4vw;
	height: 8vh;
	display: inline-block;
	position:absolute;
}
.list_icon{
	background:#999999;
	width:2vw;
}
.template_select_img{
	display:inline-block;
	height:5vh;
	width:5vh;
	margin-left:2px;
	line-height:5vh;
	vertical-align:middle;
	text-align:center;
	background:#999999;
}

#menu{
	display: none;
	width: 50px;
	border: 1px solid #409EFF;
	position: absolute;
	background-color: aqua;
	z-index: 1;
}
#list{
	width: 50px;
}
.menu{
	border:1px solid #999999;
	border-radius: 5px;
	width: 13vw;
	position:absolute;
	display: none;
	z-index: 2;
	float: left;
}
 .menu li{
	 border:0;
	 float: left;
	 height: 4vh;
	 width: 13vw;
	 cursor: pointer;
	 line-height: 4vh;
	 vertical-align: middle;
	 text-align: left;
	 font-weight:bold;
	 color: black;
	 font-size: 10px;
	 background-color: white;

 }

 .menu img {
	 width: 1.5vw;
	 margin-left: 0.7vw;
	 margin-right: 0.2vw;
 }
.menu li:hover{
	color: #046BDA;
	border: 1px solid #409EFF;
	background-color: #DCEDFF;
}

 .unuse{
	 pointer-events: none;
	 color:#999999 !important;
 }

.avatar-uploader .el-upload {
/*清空css*/
}




